[zigbee-lock]
Language=adminmusic34435.language
AutoRelockTime=adminmusic34435.autoRelockTime
SoundVolume=adminmusic34435.soundVolume
OperatingMode=adminmusic34435.operatingMode
EnableOneTouchLocking=adminmusic34435.enableOneTouchLocking
EnableInsideStatusLED=adminmusic34435.enableInsideStatusLed
EnablePrivacyModeButton=adminmusic34435.enablePrivacyModeButton
WrongCodeEntryLimit=adminmusic34435.wrongCodeEntryLimit 
UserCodeTemporaryDisableTime=adminmusic34435.userCodeTemporaryDisableTime

[zigbee-siren]
MaxDuration=adminmusic34435.maxDuration

[hue-motion]
PIROccupiedToUnoccupiedDelay=adminmusic34435.pirOccupiedToUnoccupiedDelay
MotionSensitivity=adminmusic34435.hueMotionSensitivity

[zigbee-switch]
IdentifyTime=adminmusic34435.identifyTime
DeviceEnabled=adminmusic34435.deviceEnabled
OnOffTransitionTime=adminmusic34435.onOffTransitionTime
OnLevel=adminmusic34435.onLevel
OnTime=adminmusic34435.onTime
OffWaitTime=adminmusic34435.offWaitTime
StartUpOnOff=adminmusic34435.startUpOnOff
StartUpColorTemperatureMireds=adminmusic34435.startUpColorTemperatureMireds

[zigbee-dimmer-switch]
CheckInInterval=adminmusic34435.checkInInterval
FastPollTimeout=adminmusic34435.fastPollTimeout

[zigbee-contact]
IdentifyTime=adminmusic34435.identifyTime
DeviceEnabled=adminmusic34435.deviceEnabled
CheckInInterval=adminmusic34435.checkInInterval
FastPollTimeout=adminmusic34435.fastPollTimeout

[zigbee-water-leak-sensor]
IdentifyTime=adminmusic34435.identifyTime
DeviceEnabled=adminmusic34435.deviceEnabled
CheckInInterval=adminmusic34435.checkInInterval
FastPollTimeout=adminmusic34435.fastPollTimeout

[zigbee-button]
IdentifyTime=adminmusic34435.identifyTime
DeviceEnabled=adminmusic34435.deviceEnabled
CheckInInterval=adminmusic34435.checkInInterval
FastPollTimeout=adminmusic34435.fastPollTimeout

[zigbee-motion-sensor]
IdentifyTime=adminmusic34435.identifyTime
DeviceEnabled=adminmusic34435.deviceEnabled
CheckInInterval=adminmusic34435.checkInInterval
FastPollTimeout=adminmusic34435.fastPollTimeout

[zigbee-humidity-sensor]
IdentifyTime=adminmusic34435.identifyTime
DeviceEnabled=adminmusic34435.deviceEnabled
CheckInInterval=adminmusic34435.checkInInterval
FastPollTimeout=adminmusic34435.fastPollTimeout

[zigbee-presence-sensor]
IdentifyTime=adminmusic34435.identifyTime
CheckInInterval=adminmusic34435.checkInInterval
FastPollTimeout=adminmusic34435.fastPollTimeout
